<div class="chinese"><h1>Chinese Food</h1></div>
   <div class="item">
    
    <div class="container" *ngFor="let data of chineseFooddata">
      <img src={{data.image}}/>
      <div class="content-box">
        <h4 class="name">{{data.item}}</h4>
        <h4 class="name">{{data.category}}</h4>

        <div>
          <h2 class="price">₹{{data.price}}</h2>
          <a
            ><button class="delete"
              mat-raised-button
              color="warn"
               
              (click)="openDialog(data.item)" >
              Place Order
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
